<div class="overflow-hidden">
    <div class="bg-cover bg-center border-primary-500 border-round h-12rem w-full custom-background"></div>
</div>

<section id="demos" class="invisible">
    <p>Stand in front of your webcam to get real-time pose landmarker <br> <b>enable webcam</b> below and grant access to the webcam if prompted.</p>
    <div class="grid">
        <div class="col-6">
            <div id="liveView" class="videoView">
                <button id="webcamButton" class="mdc-button mdc-button--raised" (click)="enableCam($event)">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">ENABLE WEBCAM</span>
                </button>
                <button id="rectangleButton" (click)="setDrawJoints()"><span>{{drawJoints ? 'Clear joints': 'Show joints'}}</span></button>
                <div style="position: relative;" id="container">
                    <video id="webcam" [style.width]="1280+'px'" [style.height]="720+'px'"  autoplay playsinline></video>
                    <canvas class="base_canvas" id="base_canvas" [width]="1280" [height]="720" style="position: absolute; left: 0px; top: 0px;"></canvas>
                    <canvas #topCanvas class="top_canvas" id="top_canvas" [width]="1280" [height]="720" style="position: absolute; left: 0px; top: 0px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
